ChatwootToQuepasaGreetings.json
{
  "name": "ChatwootToQuepasaGreetings",
  "nodes": [
    {
      "parameters": {},
      "id": "573bc9d1-dbaa-4d69-9c85-3c114c996c74",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -14340,
        -340
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{$json.qphost}}",
        "token": "={{$json.qptoken}}",
        "text": "={{$json.inboxData.sendOutofOfficeMessage ? $json.inboxData.out_of_office_message : $json.inboxData.greeting_message}}",
        "chatId": "={{$json.chatid}}"
      },
      "id": "42cb0091-7298-4204-bba5-e898a0893934",
      "name": "Quepasa Send Welcome",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        -11920,
        -440
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "05bfa63e-b128-49a1-8a53-2d8f70aa36cc",
      "name": "Normal Exit (GNE)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -12320,
        -40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.chatid}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Chat Id ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -14000,
        -340
      ],
      "alwaysOutputData": false,
      "id": "65d28c2d-3c11-42a8-8a98-af466e393c4f"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "chatid",
              "value": "={{$json.chat.id}}"
            },
            {
              "name": "qphost",
              "value": "={{$json.extra.qphost}}"
            },
            {
              "name": "qptoken",
              "value": "={{$json.extra.qptoken}}"
            },
            {
              "name": "cwhost",
              "value": "={{$json.extra.cwhost}}"
            },
            {
              "name": "account",
              "value": "={{$json.extra.account}}"
            },
            {
              "name": "inbox",
              "value": "={{$json.extra.inbox}}"
            },
            {
              "name": "utoken",
              "value": "={{$json.extra.utoken}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c998234f-2e03-4f70-a4cf-10ccaaea0da7",
      "name": "Set Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -14180,
        -340
      ]
    },
    {
      "parameters": {
        "url": "={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/inboxes/{{$json.inbox}}",
        "allowUnauthorizedCerts": true,
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "api_access_token",
              "value": "={{$json.utoken}}"
            }
          ]
        }
      },
      "name": "Get Inbox Information",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -13640,
        -360
      ],
      "id": "9ce66fce-2d0d-41ee-ba76-b62abf90a713",
      "notes": "Important to use \"source_id\" to respond messages"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "5367750d-fb2d-4273-9375-872e836cca28",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -13360,
        -460
      ]
    },
    {
      "parameters": {},
      "id": "3490a435-da8e-4498-a738-86e331d94848",
      "name": "Waiting for inbox info",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -13640,
        -540
      ]
    },
    {
      "parameters": {
        "errorMessage": "no chat id"
      },
      "id": "34f511c4-d562-4fea-ac7e-d26625dcdc94",
      "name": "S&E - No Chat Id",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -13640,
        -140
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\n\nfor (const item of $input.all()) {\n  let value = item.json.out_of_office_message;\n  if (typeof value === 'string') {\n    value = value.replace(/\\*\\*/g,'*');\n    value = value.replace(/\\\\\\s/g,'\\r');\n  }\n  item.json.out_of_office_message = value;\n\n  value = item.json.greeting_message;\n  if (typeof value === 'string') {\n    value = value.replace(/\\*\\*/g,'*');\n    value = value.replace(/\\\\\\s/g,'\\r');\n  }\n  item.json.greeting_message = value;\n}\n\nreturn $input.all();"
      },
      "id": "b09b9174-6890-435d-9b09-d7710cce61b0",
      "name": "Text Enchanted adjusts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -13180,
        -460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.greeting_enabled}}",
              "value2": "={{true}}"
            }
          ]
        }
      },
      "name": "greeting enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -12560,
        -60
      ],
      "alwaysOutputData": false,
      "id": "db50344e-0037-41e8-9f55-982821570bed"
    },
    {
      "parameters": {
        "mode": "multiplex"
      },
      "id": "8277c99b-66c4-473f-98bf-ad9c9459d313",
      "name": "Merge4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        -12080,
        -440
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "inboxData",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "name": "inboxData",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -12280,
        -360
      ],
      "id": "657d3ed0-cc1a-49a3-9521-5a5264935405"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.working_hours_enabled}}",
              "value2": "={{true}}"
            }
          ]
        }
      },
      "name": "working hours enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -12960,
        -320
      ],
      "alwaysOutputData": false,
      "id": "20c5434c-3c1a-49dc-806c-ca63c0c0c9ff"
    },
    {
      "parameters": {
        "functionCode": "const dados = items[0];\n\n//HugoSampaio: Ajuda a analisar problemas de timezone nao configurado\ndados.json.horaAtual = $now.toFormat('H');\n\nfor(let wo of dados.json[\"working_hours\"] ){\n  if ($today.weekday === wo.day_of_week){\n    if(wo.closed_all_day == true){\n      dados.json.sendOutofOfficeMessage = true;\n      break;\n    }\n\n    \n    // opcional: hora do almoco\n    if($now.toFormat('H') == \"12\"){\n      dados.json.sendOutofOfficeMessage = true;\n      break;\n    }\n\n\n    if(wo.open_all_day == false){\n\n      \n      if($now.toFormat('H') <= wo.open_hour  || $now.toFormat('H') >= wo.close_hour){\n        \n        // abertura\n        if($now.toFormat('H') == wo.open_hour){\n          if($now.toFormat('mm') < wo.open_minutes){\n            dados.json.sendOutofOfficeMessage = true;\n            break;\n          }else{\n            dados.json.sendOutofOfficeMessage = false;\n            break;\n          }\n        }\n        \n\n        // fechamento\n        if($now.toFormat('H') == wo.close_hour){\n          if($now.toFormat('mm') >= wo.close_minutes){\n            dados.json.sendOutofOfficeMessage = true;\n            break;\n          }else{\n            dados.json.sendOutofOfficeMessage = false;\n            break;\n          }\n        }\n\n        dados.json.sendOutofOfficeMessage = true;\n        break;\n       \n      }    \n    }\n  }\n}\n\nreturn dados.json;"
      },
      "name": "calculate working hours",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -12740,
        -340
      ],
      "id": "56f2fd63-8bea-450d-9288-ba3b8a8754d7"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.json.sendOutofOfficeMessage}}",
              "value2": "={{true}}"
            }
          ]
        }
      },
      "name": "sendOutofOfficeMessage?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -12560,
        -340
      ],
      "alwaysOutputData": false,
      "id": "24b93790-6bae-4c75-a7b4-cd1a4c87670f"
    }
  ],
  "pinData": {},
  "connections": {
    "Has Chat Id ?": {
      "main": [
        [
          {
            "node": "Get Inbox Information",
            "type": "main",
            "index": 0
          },
          {
            "node": "Waiting for inbox info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "S&E - No Chat Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload": {
      "main": [
        [
          {
            "node": "Has Chat Id ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Set Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Inbox Information": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Text Enchanted adjusts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Waiting for inbox info": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Enchanted adjusts": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          },
          {
            "node": "working hours enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "greeting enabled?": {
      "main": [
        [
          {
            "node": "inboxData",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normal Exit (GNE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Quepasa Send Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inboxData": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "working hours enabled?": {
      "main": [
        [
          {
            "node": "calculate working hours",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "greeting enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calculate working hours": {
      "main": [
        [
          {
            "node": "sendOutofOfficeMessage?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sendOutofOfficeMessage?": {
      "main": [
        [
          {
            "node": "inboxData",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "greeting enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "9d3f6731-3111-44d7-8b15-8b1689c36a9d",
  "id": "23",
  "meta": {
    "instanceId": "71a168258e1d2fe006e272eeb7df857bf26cb200a6a4e831edb71e3060ef8b38"
  },
  "tags": []
}