QuepasaInboxControl.json
{
  "name": "QuepasaInboxControl",
  "nodes": [
    {
      "parameters": {
        "baseUrl": "={{$json[\"query\"][\"qphost\"]}}",
        "token": "={{$json[\"query\"][\"qptoken\"]}}",
        "resource": "webhook",
        "operation": "setup",
        "url": "={{ $json.query.n8nhost?.replace(/\\/+$/, '') ?? \"http://\" + $json.headers.host }}/webhook/to-chatwoot",
        "trackId": "chatwoot",
        "extraAttributes": {
          "attribute": [
            {
              "key": "identifier",
              "value": "={{$json[\"query\"][\"identifier\"]}}"
            },
            {
              "key": "cwhost",
              "value": "={{$json[\"query\"][\"cwhost\"]}}"
            },
            {
              "key": "inbox",
              "value": "={{$json[\"query\"][\"inbox\"]}}"
            },
            {
              "key": "account",
              "value": "={{$json[\"body\"][\"account\"][\"id\"]}}"
            },
            {
              "key": "utoken",
              "value": "={{$json[\"query\"][\"utoken\"]}}"
            },
            {
              "key": "atoken",
              "value": "={{$json[\"query\"][\"atoken\"]}}"
            },
            {
              "key": "account",
              "value": "={{$json[\"query\"][\"account\"]}}"
            },
            {
              "key": "qphost",
              "value": "={{$json[\"query\"][\"qphost\"]}}"
            },
            {
              "key": "qptoken",
              "value": "={{$json[\"query\"][\"qptoken\"]}}"
            }
          ]
        }
      },
      "id": "ef1ad69e-2722-472d-a1e8-3a8f8ab66234",
      "name": "QP - Webhook Update",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        -980,
        360
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "baseUrl": "={{$json[\"query\"][\"qphost\"]}}",
        "token": "={{$json[\"query\"][\"qptoken\"]}}",
        "resource": "webhook",
        "operation": "remove",
        "url": "=https://{{$json[\"headers\"][\"host\"]}}/webhook/to-chatwoot"
      },
      "id": "fdd8f1da-c776-42d5-8cfb-8f3efd29ba09",
      "name": "QP - Webhook Remove",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        -980,
        540
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.content.toLowerCase()}}",
        "rules": {
          "rules": [
            {
              "operation": "startsWith",
              "value2": "/webhook update"
            },
            {
              "operation": "startsWith",
              "value2": "/webhook remove",
              "output": 1
            },
            {
              "operation": "startsWith",
              "value2": "/webhook clear",
              "output": 2
            }
          ]
        }
      },
      "id": "499dc5d1-c5c7-4c72-8049-aa79044bd060",
      "name": "Webhook Methods",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1340,
        560
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{$json[\"params\"][\"cwhost\"]}}",
        "sourceId": "={{$json[\"params\"][\"source_id\"]}}",
        "operation": "messageCreate",
        "inboxIdentifier": "={{$json[\"params\"][\"identifier\"]}}",
        "conversationId": "={{$json[\"params\"][\"conversation_id\"]}}",
        "content": "={{$json[\"response\"]}}"
      },
      "id": "0b822de5-00f7-4f66-a36c-46b693185fb7",
      "name": "ChatWoot",
      "type": "n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        960,
        860
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=({{$json[\"success\"]}}): {{$json[\"status\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "57c59888-0ca8-4016-a2a6-ebd05361f495",
      "name": "Set Response From Quepasa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -400,
        360
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=!Invalid call, try:\n-----------------------------------------------\n/info\n/agentbot\n/webhook update\n/webhook remove\n/webhook clear"
            }
          ]
        },
        "options": {}
      },
      "id": "3631c42d-0201-4c37-af58-e89dad2bcca4",
      "name": "Set Response From Invalid Start",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -380,
        1700
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.content.toLowerCase()}}",
        "rules": {
          "rules": [
            {
              "operation": "startsWith",
              "value2": "/webhook"
            },
            {
              "operation": "startsWith",
              "value2": "/info",
              "output": 1
            },
            {
              "operation": "startsWith",
              "value2": "/agentbot",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "4a892b06-b07b-45cd-a51d-642b91fe3c4d",
      "name": "Switch Start",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1760,
        920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body?.event}}",
              "value2": "message_created"
            },
            {
              "value1": "={{$json.body?.message_type}}",
              "value2": "outgoing"
            }
          ]
        }
      },
      "id": "1c2d912c-1672-49b8-85e7-354c2295b4d5",
      "name": "If Message Out",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3040,
        960
      ]
    },
    {
      "parameters": {},
      "id": "9ac667dd-a593-4da5-909e-3f88a4826a53",
      "name": "Discarding Not Message Out",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2620,
        1160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "07c8ab5c-3076-48ac-9703-2c18ab72937d",
      "name": "IF Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -680,
        540
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=! {{$json[\"status\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3741dc81-7277-4c03-babe-49cb3ee79ba7",
      "name": "Set Error Response From Quepasa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -400,
        640
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{$json[\"query\"][\"qphost\"]}}",
        "token": "={{$json[\"query\"][\"qptoken\"]}}",
        "resource": "information"
      },
      "id": "8da48ca7-24f4-45f5-9301-82ebd846ed08",
      "name": "QP - Info",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        -1340,
        920
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "4f27931a-1b8e-43d2-9a12-8b39ca0a9c7e",
      "name": "IF Success1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -980,
        920
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{$json[\"server\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "6de8dc14-a595-4bf9-a53a-7052c63f4315",
      "name": "Set Info Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -400,
        900
      ]
    },
    {
      "parameters": {
        "functionCode": "function print(object, level) {\n    var SPACER = '-',\n        NEWLINE = '\\r\\n'\n        result = '';\n\n    level = level || 0;\n    Object.keys(object).forEach(function (key) {\n        var i = level;\n        while (i--) {\n            result += SPACER;\n        }\n        if (typeof object[key] === 'object' && object[key] !== null) {\n            result += NEWLINE + key + ' :: ' + NEWLINE + NEWLINE;\n            result += print(object[key], level + 1);\n            return;\n        }\n        result += key + ': ' + object[key] + NEWLINE;\n\n    });\n    return result;\n}\n\nfor (item of items) {\n  item.json.server = print(item.json.server);\n}\n\nreturn items;"
      },
      "id": "62a9c19a-22a9-4500-8c1b-40ebab3c23ad",
      "name": "Json To Idented Text",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -680,
        900
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{$json[\"query\"][\"qphost\"]}}",
        "token": "={{$json[\"query\"][\"qptoken\"]}}",
        "resource": "webhook",
        "operation": "clear"
      },
      "id": "7143113f-9b1f-40cf-95df-3e1c603d1e89",
      "name": "QP - Webhook Clear",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        -980,
        720
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "80dbb2cd-c0b0-4994-bf7a-f704d185163e",
      "name": "Merge Parameters + Message",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        740,
        860
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "cwhost",
              "value": "={{$json[\"query\"][\"cwhost\"]}}"
            },
            {
              "name": "identifier",
              "value": "={{$json[\"query\"][\"identifier\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "4abcb21c-d07e-4aeb-83b7-18e4850dc4d7",
      "name": "Set Basic Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2900,
        440
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "source_id",
              "value": "={{$json[\"body\"][\"conversation\"][\"contact_inbox\"][\"source_id\"]}}"
            },
            {
              "name": "conversation_id",
              "value": "={{$json[\"body\"][\"conversation\"][\"id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "55b4fda6-d11d-4d51-a3e5-1b72fab7cdca",
      "name": "Set Parameters From Control Chat",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2620,
        720
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "a9ad471b-d502-4765-a8e5-4bb4cf16d4d8",
      "name": "Merge Parameters +",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -1700,
        140
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "params",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a2d9c846-45f2-4f21-86ed-eac455a0af1f",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        100,
        120
      ]
    },
    {
      "parameters": {},
      "id": "3fa4b073-bae4-4869-bad8-b7e12424d077",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1320,
        1700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.response}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "850988fe-f154-48c0-85f8-6f6b958977e8",
      "name": "If Reponse Not Empty ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        420,
        900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.content}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "34f9783f-967f-4244-8804-15ffaa6f542e",
      "name": "If Body Not Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1980,
        940
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "content",
              "value": "={{$json.body?.content}}"
            },
            {
              "name": "cwhost",
              "value": "={{$json.query.cwhost}}"
            },
            {
              "name": "account",
              "value": "={{$json.query.account}}"
            },
            {
              "name": "inbox",
              "value": "={{$json.query.inbox}}"
            },
            {
              "name": "utoken",
              "value": "={{$json.query.utoken}}"
            }
          ]
        },
        "options": {}
      },
      "id": "624e8c54-073f-453d-a1dc-feccd661cf66",
      "name": "Set Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2220,
        940
      ]
    },
    {
      "parameters": {},
      "id": "ff746dc5-e769-41c9-8062-8ee9f5fa78e9",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -3380,
        960
      ]
    },
    {
      "parameters": {},
      "id": "82332464-e400-4ea3-be0a-5a7873f5c95d",
      "name": "Agent Control",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1340,
        1140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/inboxes/{{$json.inbox}}/set_agent_bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{$json.utoken}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_bot",
              "value": "1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "d59180fd-5705-4dc1-b21f-8f410dbda89a",
      "name": "(Agent) Set Inbox Agent Permissions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1100,
        1280
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json?.error?.message??$json?.error}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "7084653c-6bee-463e-b7a3-91da19c489a3",
      "name": "(Agent) If Success Set Agent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -900,
        1280
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "Agent Bot Updated"
            }
          ]
        },
        "options": {}
      },
      "id": "263df22d-f9a3-43ff-aa6d-c7fabf0cd446",
      "name": "(Agent)  Set Sucess Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -700,
        1200
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=! {{$json.status}}"
            }
          ]
        },
        "options": {}
      },
      "id": "5db04eea-9146-4463-8e32-316b7c7d6afb",
      "name": "(Agent) Set Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -700,
        1360
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "97e20580-5b9c-4403-9f44-d6a7de9bed83",
      "name": "(Agent) Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -400,
        1160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Methods": {
      "main": [
        [
          {
            "node": "QP - Webhook Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QP - Webhook Remove",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QP - Webhook Clear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QP - Webhook Update": {
      "main": [
        [
          {
            "node": "IF Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QP - Webhook Remove": {
      "main": [
        [
          {
            "node": "IF Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response From Quepasa": {
      "main": [
        [
          {
            "node": "If Reponse Not Empty ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response From Invalid Start": {
      "main": [
        [
          {
            "node": "If Reponse Not Empty ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Start": {
      "main": [
        [
          {
            "node": "Webhook Methods",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QP - Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent Control",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Message Out": {
      "main": [
        [
          {
            "node": "Set Parameters From Control Chat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discarding Not Message Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Success": {
      "main": [
        [
          {
            "node": "Set Response From Quepasa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Response From Quepasa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Response From Quepasa": {
      "main": [
        [
          {
            "node": "If Reponse Not Empty ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QP - Info": {
      "main": [
        [
          {
            "node": "IF Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Success1": {
      "main": [
        [
          {
            "node": "Json To Idented Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Response From Quepasa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Info Response": {
      "main": [
        [
          {
            "node": "If Reponse Not Empty ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json To Idented Text": {
      "main": [
        [
          {
            "node": "Set Info Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QP - Webhook Clear": {
      "main": [
        [
          {
            "node": "IF Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Parameters + Message": {
      "main": [
        [
          {
            "node": "ChatWoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Basic Parameters": {
      "main": [
        [
          {
            "node": "Merge Parameters +",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters From Control Chat": {
      "main": [
        [
          {
            "node": "Merge Parameters +",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Parameters +": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Merge Parameters + Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp": {
      "main": [
        [
          {
            "node": "Set Response From Invalid Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Reponse Not Empty ?": {
      "main": [
        [
          {
            "node": "Merge Parameters + Message",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If Body Not Empty": {
      "main": [
        [
          {
            "node": "Switch Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload": {
      "main": [
        [
          {
            "node": "If Body Not Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "If Message Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Basic Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Control": {
      "main": [
        [
          {
            "node": "(Agent) Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "(Agent) Set Inbox Agent Permissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Agent) Set Inbox Agent Permissions": {
      "main": [
        [
          {
            "node": "(Agent) If Success Set Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Agent) If Success Set Agent": {
      "main": [
        [
          {
            "node": "(Agent)  Set Sucess Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "(Agent) Set Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Agent)  Set Sucess Response": {
      "main": [
        [
          {
            "node": "(Agent) Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "(Agent) Set Error Response": {
      "main": [
        [
          {
            "node": "(Agent) Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "(Agent) Merge": {
      "main": [
        [
          {
            "node": "If Reponse Not Empty ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "cba342e9-3c5c-4904-8182-83b4cabed6dc",
  "id": "8",
  "meta": {
    "instanceId": "f02f26887e67df04425977547fa1b8580520c931a164aac95b06be62082bb6f9"
  },
  "tags": [
    {
      "createdAt": "2023-05-06T20:25:45.644Z",
      "updatedAt": "2023-05-06T20:25:45.644Z",
      "id": "3",
      "name": "QUEPASA"
    },
    {
      "createdAt": "2023-05-06T20:26:21.016Z",
      "updatedAt": "2023-05-06T20:26:21.016Z",
      "id": "6",
      "name": "CHATWOOT"
    }
  ]
}