QuepasaQrcode.json
{
  "name": "QuepasaQrcode",
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "URL FORMADA",
              "value": "={{ $node[\"Colocando Dados\"].json[\"URL N8N\"] }}/webhook/from-chatwoot?qphost={{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}&qptoken={{ $node[\"Colocando Dados\"].json[\"TOKEN DO QUEPASA\"] }}&inbox={{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }}&identifier={{ $node[\"Informa Identifier\"].json[\"identifier\"] }}&cwhost={{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}&utoken={{ $node[\"Informa UToken\"].json[\"utoken\"] }}&atoken={{ $node[\"Garante AToken\"].json[\"atoken\"] }}&account={{ $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "32c83afb-427c-4fed-ae88-ec3d7b5a9949",
      "name": "Formação da URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1560,
        460
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Token",
              "value": "={{ $node[\"Colocando Dados\"].json[\"TOKEN DO QUEPASA\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "feb70282-c325-4e11-a03e-dbb5fd1c8af0",
      "name": "Gerador Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2240,
        460
      ]
    },
    {
      "parameters": {
        "url": "={{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}/scan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-QUEPASA-TOKEN",
              "value": "={{ $node[\"Colocando Dados\"].json[\"TOKEN DO QUEPASA\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "60648e54-11d8-49f0-b042-0ea7f25ee0e1",
      "name": "Cria o QrCode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1500,
        880
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{  $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "sendBinaryData": true,
        "binaryPropertyName": "attachments[]:data",
        "headerParametersJson": "={ \"api_access_token\": \"{{ $node[\"Informa UToken\"].json[\"utoken\"] }}\" }",
        "queryParametersJson": "{ \"message_type\": \"incoming\" }"
      },
      "name": "Envia QRCode No Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1700,
        880
      ],
      "id": "278594b4-6b83-40eb-a72d-f9ea4b57884f"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE \"public\".\"channel_api\" SET \"webhook_url\"='{{ $node[\"Formação da URL\"].json[\"URL FORMADA\"] }}' WHERE \"id\"='{{ $node[\"Informa Identifier\"].json[\"channel_id\"] }}';",
        "additionalFields": {}
      },
      "id": "5b1913be-90f6-4f7c-9099-e2de87b3a740",
      "name": "Atualiza Webhook",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        3340,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"public\".\"channel_api\".\"identifier\", \"public\".\"inboxes\".\"channel_id\" FROM \"public\".\"channel_api\" INNER JOIN \"public\".\"inboxes\" ON \"public\".\"channel_api\".\"id\" = \"public\".\"inboxes\".\"channel_id\" WHERE \"public\".\"channel_api\".\"account_id\"='{{ $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }}' AND \"public\".\"inboxes\".\"id\" = '{{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }}';",
        "additionalFields": {}
      },
      "id": "ed4858c0-ee92-476c-8ee4-3581c6d1f9be",
      "name": "Informa Identifier",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        980,
        780
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "getting without filter"
            }
          ]
        }
      },
      "id": "076ecf9c-6d47-45f3-a7de-08b6faffccbc",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4000,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $node[\"Informa UToken\"].json[\"utoken\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=✅ Qrcode escaneado com sucesso!\n\n✅ Sistema Pronto para Usar\n"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "59d693d0-eee4-4d93-a985-b1bb80ec2d51",
      "name": "Envia Mensagem De Conectado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4280,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $node[\"Informa UToken\"].json[\"utoken\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=✅ Qrcode gerado com sucesso!\n\n✅ Digitalize este código QR nos próximos 20 segundos:"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "c042d870-841c-4336-bdfb-6df75ea632d1",
      "name": "Qrcode gerado com sucesso!",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1920,
        880
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}",
        "token": "={{ $node[\"Colocando Dados\"].json[\"TOKEN DO QUEPASA\"] }}",
        "resource": "webhook"
      },
      "id": "8684d20a-6157-496d-b6ee-49086eddc81f",
      "name": "Verifica se Conectou",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        3820,
        640
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $node[\"Informa UToken\"].json[\"utoken\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=✅ Qrcode gerado com expirou, por favor \n\n✅ Iniciar novamente, uma nova Caixa de Entrada!\n"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "008e5442-0f0b-4cec-a418-99a345f7296d",
      "name": "Passou tempo Tente Novamente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4300,
        800
      ]
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "63666e49-dd08-4a9c-83d1-eed7ba9ee90e",
      "name": "Aguarda 30 Segundos para Escanear Qrcode",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2140,
        880
      ],
      "webhookId": "b8706931-81cb-4f18-93e0-0a5d5416734b"
    },
    {
      "parameters": {
        "url": "={{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}/command",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "restart"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-QUEPASA-TOKEN",
              "value": "={{ $node[\"Colocando Dados\"].json[\"TOKEN DO QUEPASA\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e27600bd-8055-4ac9-9b82-6a619bcdb893",
      "name": "Restart Quepasa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2360,
        880
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "baseUrl": "={{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}",
        "token": "={{ $node[\"Colocando Dados\"].json[\"TOKEN DO QUEPASA\"] }}",
        "resource": "information"
      },
      "id": "955ac19c-6492-4475-add2-362cc1636e94",
      "name": "Quepasa Info",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        2900,
        640
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "baseUrl": "={{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}",
        "token": "={{ $node[\"Colocando Dados\"].json[\"TOKEN DO QUEPASA\"] }}",
        "resource": "webhook",
        "operation": "setup",
        "url": "={{ $node[\"Colocando Dados\"].json[\"URL N8N\"] }}/webhook/to-chatwoot",
        "trackId": "chatwoot",
        "extraAttributes": {
          "attribute": [
            {
              "key": "identifier",
              "value": "={{ $node[\"Informa Identifier\"].json[\"identifier\"] }}"
            },
            {
              "key": "cwhost",
              "value": "={{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}"
            },
            {
              "key": "inbox",
              "value": "={{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }}"
            },
            {
              "key": "account",
              "value": "={{ $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }}"
            },
            {
              "key": "utoken",
              "value": "={{ $node[\"Informa UToken\"].json[\"utoken\"] }}"
            },
            {
              "key": "atoken",
              "value": "={{ $node[\"Garante AToken\"].json[\"atoken\"] }}"
            },
            {
              "key": "qphost",
              "value": "={{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}"
            },
            {
              "key": "qptoken",
              "value": "={{ $node[\"Colocando Dados\"].json[\"TOKEN DO QUEPASA\"] }}"
            }
          ]
        }
      },
      "id": "ed4acd57-78eb-448f-9922-43f7abebccba",
      "name": "Webhook Update",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        3580,
        640
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "f2eaa4e8-4573-49ef-b60f-741275f34b0b",
      "name": "Success QrCode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2660,
        660
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "URL FORMADA",
              "value": "={{ $json[\"URL FORMADA\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4241ca0e-4db0-4b1f-a3c4-d54b9113122d",
      "name": "URL FORMADA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1920,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $node[\"Informa UToken\"].json[\"utoken\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Informações do servidor:\nToken gerado: {{ $json.server.token }}\nWhatsapp: {{ $json.server.wid }}\n\n\n"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "7d45c82d-d227-4a03-b6e3-4d5346b44a18",
      "name": "Confirmação Dos Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3120,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Colocando Dados\"].json[\"URL CHATWOOT\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $node[\"Informa UToken\"].json[\"utoken\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Tempo para escanear expirou !\nTente novamente digitando /qrcode\n\n"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "802b5199-0147-4c4d-a47b-5509856950d2",
      "name": "Qrcode Falhou",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2880,
        860
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"public\".\"agent_bots\" (\"name\", \"account_id\", \"created_at\", \"updated_at\")\nSELECT 'quepasabot', {{ $json[\"ID DA CONTA\"] }}, NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"agent_bots\" WHERE \"bot_type\" = '0' AND \"name\" LIKE '%quepasabot%' AND \"account_id\" = {{ $json[\"ID DA CONTA\"] }});\nSELECT \"id\" FROM \"public\".\"agent_bots\" WHERE \"bot_type\" = '0' AND \"name\" LIKE '%quepasabot%' AND \"account_id\" = {{ $json[\"ID DA CONTA\"] }} LIMIT 1;",
        "additionalFields": {}
      },
      "id": "bb444959-8fc7-4111-a890-6537773b2273",
      "name": "Garante AgentBot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1020,
        460
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Coletando Todas informações",
        "height": 745.8570330514997,
        "width": 939.6156802459652
      },
      "id": "9202a07c-a7c5-4acb-bff2-f4cc40dad84e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        340
      ]
    },
    {
      "parameters": {
        "content": "##  Envia Qrcode para Chatwoot",
        "height": 393.2052267486547,
        "width": 1067.5941583397387
      },
      "id": "9439494d-7beb-4259-b2e3-8f83443cab4e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1460,
        700
      ]
    },
    {
      "parameters": {
        "content": "##  Formação URL do Webhook Chatwoot",
        "height": 319.2621060722519,
        "width": 1070.4381245196005
      },
      "id": "76573586-49d0-4e1f-bcf1-fa1f191db6c1",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1460,
        340
      ]
    },
    {
      "parameters": {
        "content": "## Verifica se esta tudo certo",
        "height": 747.3699072394713,
        "width": 2378.190762273796
      },
      "id": "b77c7106-da45-485b-a50d-8532990daa0f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2560,
        340
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"access_tokens\".\"token\" AS \"utoken\" FROM \"account_users\" INNER JOIN \"access_tokens\" ON \"access_tokens\".\"owner_id\" = \"account_users\".\"user_id\" WHERE \"account_users\".\"account_id\" = {{ $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }} AND \"access_tokens\".\"owner_type\" = 'User' AND \"account_users\".\"role\" = 1 ORDER BY \"account_users\".\"id\" LIMIT 1;",
        "additionalFields": {}
      },
      "id": "af3e0eee-4a16-47ae-bd5c-7e0ac5387dd1",
      "name": "Informa UToken",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        800,
        780
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"public\".\"access_tokens\" (\"owner_type\", \"owner_id\", \"token\", \"created_at\", \"updated_at\")\nSELECT 'AgentBot', '{{ $json[\"id\"] }}', SUBSTRING(md5(random()::text),0,24), NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"access_tokens\" WHERE \"owner_type\" = 'AgentBot' AND \"owner_id\" = {{ $node[\"Garante AgentBot\"].json[\"id\"] }});\nSELECT \"token\" AS \"atoken\" FROM \"public\".\"access_tokens\" WHERE \"owner_type\" = 'AgentBot' AND \"owner_id\" = {{ $node[\"Garante AgentBot\"].json[\"id\"] }} LIMIT 1;",
        "additionalFields": {}
      },
      "id": "6017c22c-376e-41f6-91cc-b3edbf4f238d",
      "name": "Garante AToken",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1220,
        460
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"agent_bot_inboxes\" (\"inbox_id\", \"agent_bot_id\", \"status\", \"account_id\", \"created_at\", \"updated_at\")\nSELECT {{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }}, {{ $node[\"Garante AgentBot\"].json[\"id\"] }}, 0, {{ $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }}, NOW(), NOW() WHERE NOT EXISTS(SELECT NULL FROM \"agent_bot_inboxes\" WHERE \"inbox_id\" = {{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }} AND \"agent_bot_id\" = {{ $node[\"Garante AgentBot\"].json[\"id\"] }} AND \"account_id\" = {{ $node[\"Colocando Dados\"].json[\"ID DA CONTA\"] }});",
        "additionalFields": {}
      },
      "id": "ab7fc222-3475-46a5-aa13-856ec67cac63",
      "name": "Garante Vinculo AgentBot à Inbox",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        620,
        780
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "URL N8N",
              "value": "http://localhost:5678"
            },
            {
              "name": "URL DO QUEPASA",
              "value": "http://localhost:31000"
            },
            {
              "name": "URL CHATWOOT",
              "value": "http://localhost:3000"
            },
            {
              "name": "Seu Email",
              "value": "admin@admin.com.br"
            },
            {
              "name": "TOKEN DO QUEPASA",
              "value": "=token{{ $json.body.timestamp }}"
            },
            {
              "name": "NUMERO DO INBOX",
              "value": "={{ $json.body.contact_inbox.inbox_id }}"
            },
            {
              "name": "ID DA CONTA",
              "value": "={{ $json.body.messages[0].account_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "92fef799-dce1-4feb-8c91-7b9ab74c678b",
      "name": "Colocando Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        800,
        460
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quepasa",
        "options": {}
      },
      "id": "6a057631-c822-4cd5-a123-03a569b14846",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        600,
        460
      ],
      "webhookId": "e8d38d79-8f79-4bd1-85f8-fce3d8200233"
    },
    {
      "parameters": {
        "url": "={{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}/info ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-QUEPASA-TOKEN",
              "value": "={{ $node[\"Colocando Dados\"].json[\"TOKEN DO QUEPASA\"] }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "d9bc14fb-a813-4ea2-8769-6304a1a83851",
      "name": "Verifica INFO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4500,
        520
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $node[\"Colocando Dados\"].json[\"URL DO QUEPASA\"] }}/info",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-QUEPASA-TOKEN",
              "value": "={{ $node[\"Colocando Dados\"].json[\"TOKEN DO QUEPASA\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "={{ $node[\"Colocando Dados\"].json[\"Seu Email\"] }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "ac587b97-0f6c-4c38-8964-03e54651ac9d",
      "name": "Ativa no Painel Quepasa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4700,
        520
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Formação da URL": {
      "main": [
        [
          {
            "node": "URL FORMADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerador Token": {
      "main": [
        [
          {
            "node": "Cria o QrCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o QrCode": {
      "main": [
        [
          {
            "node": "Envia QRCode No Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia QRCode No Chatwoot": {
      "main": [
        [
          {
            "node": "Qrcode gerado com sucesso!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Webhook": {
      "main": [
        [
          {
            "node": "Webhook Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informa Identifier": {
      "main": [
        [
          {
            "node": "Formação da URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Envia Mensagem De Conectado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Passou tempo Tente Novamente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qrcode gerado com sucesso!": {
      "main": [
        [
          {
            "node": "Aguarda 30 Segundos para Escanear Qrcode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se Conectou": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguarda 30 Segundos para Escanear Qrcode": {
      "main": [
        [
          {
            "node": "Restart Quepasa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restart Quepasa": {
      "main": [
        [
          {
            "node": "Success QrCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quepasa Info": {
      "main": [
        [
          {
            "node": "Confirmação Dos Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update": {
      "main": [
        [
          {
            "node": "Verifica se Conectou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success QrCode": {
      "main": [
        [
          {
            "node": "Quepasa Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Qrcode Falhou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL FORMADA": {
      "main": [
        [
          {
            "node": "Gerador Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmação Dos Dados": {
      "main": [
        [
          {
            "node": "Atualiza Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Garante AgentBot": {
      "main": [
        [
          {
            "node": "Garante AToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informa UToken": {
      "main": [
        [
          {
            "node": "Informa Identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Garante AToken": {
      "main": [
        [
          {
            "node": "Garante Vinculo AgentBot à Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Garante Vinculo AgentBot à Inbox": {
      "main": [
        [
          {
            "node": "Informa UToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocando Dados": {
      "main": [
        [
          {
            "node": "Garante AgentBot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Colocando Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica INFO": {
      "main": [
        [
          {
            "node": "Ativa no Painel Quepasa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Mensagem De Conectado": {
      "main": [
        [
          {
            "node": "Verifica INFO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "544ad2ad-64f7-455b-87d9-bbe6c44c71f0",
  "id": "14",
  "meta": {
    "instanceId": "cf33494a10c7fddb894ec4f480b7a0ef8832652eb98e75664a7d2731824deaf9"
  },
  "tags": [
    {
      "createdAt": "2023-03-27T10:14:31.447Z",
      "updatedAt": "2023-03-27T10:14:31.447Z",
      "id": "1",
      "name": "SUFFICIT"
    },
    {
      "createdAt": "2023-03-27T10:16:19.227Z",
      "updatedAt": "2023-03-27T10:16:19.227Z",
      "id": "2",
      "name": "QUEPASA"
    },
    {
      "createdAt": "2023-04-12T08:29:25.215Z",
      "updatedAt": "2023-04-12T08:29:25.215Z",
      "id": "11",
      "name": "Versão 2.0"
    },
    {
      "createdAt": "2023-03-27T10:16:36.815Z",
      "updatedAt": "2023-03-27T10:16:36.815Z",
      "id": "4",
      "name": "EngajamentoFlow"
    }
  ]
}